
.state-shown
    opacity: 1
    transition: All 0.5s ease
    -webkit-transition: All 0.5s ease
    -moz-transition: All 0.5s ease
    -o-transition: All 0.5s ease

.state-hidden
    opacity: 0
    transition: All 0 ease
    -webkit-transition: All 0 ease
    -moz-transition: All 0 ease
    -o-transition: All 0 ease