div([ngClass]="{ 'state-hidden': !shown, 'state-shown': shown }")
    //- Search
    div.search
        input(type="search", placeholder="Search")
        button Search
    
    //- Results
    div.results-container

        //- Entry
        div(*ngFor="let entry of entries").entry
            div(
                [ngClass]="{ 'thumbnail-default': (entry.thumbnail ? false : true) }",
                [ngStyle]="{ background: 'url('+(entry.thumbnail || 'res/icon-without-borders.png')+') no-repeat center center', 'background-size': 'cover' }"
            ).thumbnail
            button.name {{ entry.rid }}
