//- Top bar
div.top-bar
    div(
        style="background: url(res/icon.png) no-repeat center center; background-size: cover;"
    ).logo
    button.title RPH Studio

//- State indicator
div.state-indicator
    p.states
        button(
            (click)="goToStage('explore')",
            [ngClass]="{ active: ('explore'==currentStage) }"
        ) Explore
        span &nbsp;&nbsp;&nbsp;&nbsp;&#8674;&nbsp;&nbsp;&nbsp;&nbsp;
        button(
            (click)="goToStage('develop')",
            [ngClass]="{ active: ('develop'==currentStage) }"
        ) Develop
        span &nbsp;&nbsp;&nbsp;&nbsp;&#8674;&nbsp;&nbsp;&nbsp;&nbsp;
        button(
            (click)="goToStage('preview')",
            [ngClass]="{ active: ('preview'==currentStage) }"
        ) Preview
        span &nbsp;&nbsp;&nbsp;&nbsp;&#8674;&nbsp;&nbsp;&nbsp;&nbsp;
        button(
            (click)="goToStage('publish')",
            [ngClass]="{ active: ('publish'==currentStage) }"
        ) Publish

//- State content
div.state-content
    ui-view